body {
  background-color: rgba(116, 159, 192, 0.933);
  font-family: sans-serif;
  text-align: center;
}

h3 {
  padding-top: 10px;
}

button {
  background-color: rgb(200, 208, 214);
  border: none;
  border-radius: 0.5rem;
  margin: 0.1rem;
  width: 8rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(217, 223, 228);
}

.control {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 125, 212, 0.933);
  border-radius: 2rem;
}

.control h2 {
  width: 100%;
  text-align: center;
}

.control input {
  appearance: none;
  border-radius: 0.5rem;
  width: 20rem;
}

.control .active {
  background-color: rgb(43, 182, 170);
}

.control button {
  font-size: 1.1rem;
  padding: 0.1rem;
}