body {
  background-color: rgba(140, 180, 207, 0.933);
  font-family: sans-serif;
}

.control {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(95, 167, 214, 0.933);
  border-radius: 2rem;
}

.control h2 {
  width: 100%;
  text-align: center;
}

.control input {
  appearance: none;
  width: 20rem;
}